@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfair Display;
}
.site-logo {
  font-family: sans-serif;
}
.width {
  width: 5%;
}
.flex {
  display: flex;
}
.Image {
  width: 50%;
  background-image: url("../img/sign-up img/side-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  max-width: 90vw;
  object-fit: cover;
}
.form {
  width: 50%;
  background-color: #ece0e0;
  min-height: 100vh;
}
.orange {
  color: #f5820e;
}

.btn-primary {
  background-color: #f5820e !important;
}
.form-check-input:focus {
  border-color: #f5820e !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ece0e0 !important;
}
.form-check-input:checked {
  background-color: #f5820e !important;
  border-color: #f5820e !important;
  color: #f5820e !important;
}
.form-check-input {
  width: 2em !important;
  height: 2em !important;
  border: 2px solid #f5820e !important;
  color: #f5820e !important;
  background-color: aliceblue !important;
}

@media (max-width: 426px) {
  .flex {
    flex-direction: column;
  }
  .Image {
    width: 100vw;
    display: none;
  }
  .form {
    width: 100vw;
    max-height: 100vh;
  }
}

@media (max-width: 769px) {
  .form {
    width: 60vw;
    max-height: 50vh;
  }
  .image {
    max-height: 50vh;
  }
}
.input-container {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-right: none;
  min-width: 50px;
  text-align: center;
  font-size: 20px;
}

.input-field {
  font-size: 20px;
  padding: 5px;
  outline: none;
  border: 1px solid #000;
  border-left: none;
  color: #000;
}

.input-field::placeholder {
  color: #000;
}
